@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

html, body { width: 100%;height:100%; margin: 0; padding: 0; font-family: Calibri,Arial, Sans-Serif; background: black; }
img { border: 0px; }

.overall { max-width: 286px; min-height: 100%;  background: url(img/counter/bg01.png) repeat-y center top; margin: 0px auto; }
div.deckhead { display: block; position: relative; width: 254px; height: 101px; margin: 0px auto; }
div.deckhead[data-class="6"] { ; background: url(img/counter/classes/class6_01.png) no-repeat center center;}
div.deckhead .name { position: absolute; bottom: 21px; left: 22px; color: white; line-height:28px; font-family: 'Yanone+Kaffeesatz', Arial; font-size:14px; font-weight:bold;}
div.deckhead .cardcount { position: absolute; right: 20px; bottom: 20px; color: #ff0; background: #008; font-weight:bold; padding: 2px 4px; border-radius: 10px; opacity: 0.75; }

ul.cards { margin: 0px auto; padding: 0px; width: 224px; margin: }
ul.cards > li { display: block; position: relative; list-style:none; background-position: center center; background-repeat: no-repeat; width: 224px; height: 37px;}
ul.cards .cardname { display: none; }
ul.cards span.anzahl { position: absolute; right: 5px; line-height: 37px; font-size:20px; color: #FFC800; font-weight:bold; text-shadow: #000 0px 0px 1px; opacity: 0.9; }
ul.cards span.anzahl1 { display: none; }
ul.cards span.anzahl0 { display: none; }
ul.cards span.prozent { position: absolute; right: 20px; line-height: 37px; color: white; font-size:15px; text-shadow: #000 0px 0px 1px, #000 0px 0px 1px; }
ul.cards > li[data-anzahl="0"] { opacity: 0.8; filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
filter: gray;
-webkit-filter: grayscale(1); }
ul.cards > li[data-anzahl="0"] .prozent { display: none; }
ul.cards li.card473 { background-image: url(img/counter/cards/473.png); }
ul.cards li.card532 { background-image: url(img/counter/cards/532.png); }
ul.cards li.card548 { background-image: url(img/counter/cards/548.png); }
ul.cards li.card619 { background-image: url(img/counter/cards/619.png); }